  <div class="container-fluid" style="margin-top: 0px">
    <%= render @cart %>
    <div class="row py-5 p-4 bg-white rounded shadow-sm">
      <div class="col-lg-6">
        <div class="bg-light  px-4 py-3 text-uppercase font-weight-bold">Итого:</div>
        <div class="p-4">
          <ul class="list-unstyled mb-4">
            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Общий вес:</strong>
              <h5 class="font-weight-bold" id="footer_cart_qty"><%= sprintf("%0.02f кг.", @cart.total_quantity) %></h5>
            </li>
            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Стоимость:</strong>
              <h5 class="font-weight-bold" id="footer_cart_price"><%= sprintf("%0.02f грн.", @cart.total_price) %></h5>
            </li>
          </ul>
          <%= link_to "Оформить заказ", new_order_path, method: :get, class: "btn btn-primary rounded-pill py-2 btn-block" , data: @cart.client_id.nil?  ?  { confirm: 'Выберите покупателя' } : ""%>
        </div>
      </div>
    </div>
  </div>


