/*
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

  #user_cart a {
    text-decoration: none;
}

  #user_cart a:hover #user_name {
    color: #ddd;
}

  #cart_qty button {
    transition: all 0.15s ease;
}

  #cart_qty button:active {
    transform: translateY(2px);
}

  #cart_qty button:focus {
    outline: none;
    box-shadow: none;
}

  .cart-icon {
    transition: all 0.15s ease;
}

  .cart-icon:hover {
    color: #555;
}

  .cart-icon:active {
    transform: scale(0.80);
}
*/
