<div id="group_select">
  <%= text_field_tag "group_id", @group_id, type:"hidden" %>
  <%= text_field_tag "group_name", @group_name, :readonly => true, class: "form-control form-control-sm", id: "group_tx_fld"%>
</div>