<div class="container-fluid">
  <p id="info" style="display: none">Text to popup</p>
  <%= render partial: "layouts/menu" %>

  <!-- Modal add qty -->
  <div id="modal-window" class="modal fade" tabindex="-1"
       role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <%= render partial: 'line_items/modal_qty' %>
  </div>
  <!-- Modal -->

  <!--  Modal  products tree
  <div class="modal fade" id="productTreeModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <%#= render partial: 'products/product_tree_modal' %>
  </div>-->

  <div id='customer_content'>
  <%= render partial: 'customer/content' %>
  </div>

  <script type="text/javascript" charset="utf-8">

      var e = document.getElementById('cart_qty');
      var ecl = document.getElementById('close_pop_cart')

      e.onmouseover = function () {
          document.getElementById('pop_cart').style.display = 'block';
      };
      e.onmouseout = function () {
          // document.getElementById('pop_cart').style.display = 'none';
      }
      onclickPopCart = function () {
          document.getElementById('pop_cart').style.display = 'none';
      }

  </script>
</div>

